/* Write your CSS here */
.main {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
  margin: 10px;
}
