/* Write your CSS here */
.eachteam {
  list-style-type: none;
  height: 12vh;
  width: 380px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}


.imagelogo {
  height: 45px;
  width: 55px;
  margin-right: 5px;
}

.para {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
